*, :after, :before {
    border: 0 solid;
    box-sizing: border-box;
}


.contact{
    height: 58px;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 3px;
    /* background-color: black; */
}
#contact-label{
    top: 2px;
    color: rgb(174, 172, 172);
}

input{
    outline: none;
    border: 0;
    width: 98%;
}



.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 10px;
}

.font-normal {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.account-span{
    margin-left: 10px;
}

.text-color-888{
    color: #888;
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

#label-check{
    outline : none
}
#input-check{
    outline : none !important
}
.max-w-full {
    max-width: 100%;
}
.w-auto {
    width: auto;
}
.max-h-full {
    max-height: 100%;
}
.h-auto {
    height: auto;
}

.rounded {
    border-radius: .25rem;
}
.overflow-hidden {
    overflow: hidden;
}
.w-64px {
    width: 4rem;
}
.h-64px {
    height: 4rem;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}

.leading-5 {
    line-height: 1.25rem;
}
.font-bold {
    font-weight: 700;
}
.text-xs {
  
    line-height: 1rem;
}
.text-center {
    text-align: center;
}
.px-6px {
    padding-left: 6px;
    padding-right: 6px;
}
.bg-color-\#999 {
    --tw-bg-opacity: 1;
    background-color: rgba(153,153,153,var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.min-w-20px {
    min-width: 20px;
}
.h-20px {
    height: 1.25rem;
}
/* .-right-10px {
    right: -10px;
} */
.top-0 {
    top: 0;
}
.absolute {
    position: absolute;
}

.last\:border-b-0:last-child {
    border-bottom-width: 0;
}
.first\:pt-18px:first-child {
    padding-top: 1.125rem;
}
.pb-18px {
    padding-bottom: 1.125rem;
}
.border-color-\#D9D9D9 {
    --tw-border-opacity: 1;
    border-color: rgba(217,217,217,var(--tw-border-opacity));
}
.pb-18px {
    padding-bottom: 1.125rem;
}
/* .items-center {
    align-items: center;
}
.flex {
    display: flex;
} */

.pt-10px {
    padding-top: 10px;
}
.relative {
    position: relative;
}

/* @media (min-width: 768px) */
/* .md\:max-h-500 {
    max-height: 31.25rem;
} */
.overflow-y-auto {
    overflow-y: auto;
}
#title-product{
       margin-top: 7%;
    margin-bottom: 1rem;
}

*, :after, :before {
    border: 0 solid;
    box-sizing: border-box;
}

.text-color-\#888 {
    --tw-text-opacity: 1;
    color: rgba(136,136,136,var(--tw-text-opacity));
}

.text-color-\#333 {
    --tw-text-opacity: 1;
    color: rgba(51,51,51,var(--tw-text-opacity));
}
.text-sm {
    font-size: 1.3rem;
    line-height: 1.25rem;
}
.text-2xl {
    font-size: 2rem;
    line-height: 2rem;
}
.ckt-summary-order-title {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
}
.text-color-\#666 {
    --tw-text-opacity: 1;
    color: rgba(102,102,102,var(--tw-text-opacity));
}
.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.font-semibold {
    font-weight: 600;
}
.text-color-\#212121 {
    --tw-text-opacity: 1;
    color: rgba(33,33,33,var(--tw-text-opacity));
}
.font-semibold {
    font-weight: 600;
}
.text-base {
    font-size: 1.4rem;
    line-height: 1.5rem;
   
}

.mt-28px {
    margin-top: 1.75rem;
}

*, :after, :before {
    border: 0 solid;
    box-sizing: border-box;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.rounded-4px {
    border-radius: .25rem;
}
.w-full {
    width: 100%;
}
.h-56px {
    height: 56px;
}
.ckt-btn, .payment-btn {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(173, 141, 119, 1);
    color: rgba(255, 255, 255, 1);
}
button, select {
    text-transform: none;
}
@media (min-width: 768px){
    .md\:px-10px {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (min-width: 768px){
    .md\:min-w-228px {
        min-width: 14.25rem;
    }
    
}
@media (min-width: 768px){
    .md\:box-border {
        box-sizing: border-box;
    }
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.ckt-return-text {
    color: rgba(173, 141, 119, 1) !important;
}

.w-12px {
    width: .75rem;
}

.h-12px {
    height: .75rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
.mx-8px {
    margin-left: .5rem;
    margin-right: .5rem;
}
button {
    background-color: transparent;
    background-image: none;
}


.px-14px {
    padding-left: 14px;
    padding-right: 14px;
}

.border-b {
    border-bottom-width: 1px;
}
.border-t {
    border-top-width: 1px;
}
.w-20px {
    width: 1.25rem;
}

.h-20px {
    height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.inline-block {
    display: inline-block;
}
.mr-4px {
    margin-right: .25rem;
}
.ml-8px {
    margin-left: .5rem;
}
.ckt-summary, .ckt-focus-link, .ckt-navigate-click {
    color: rgba(173, 141, 119, 1);
}
.w-16px {
    width: 1rem;
}
.h-16px {
    height: 1rem;
}
.mt-4px {
    margin-top: .25rem;
}
/* #les-deux-colonnes{
    display: flex;
    flex-direction: row-reverse;
  } */
/* #div-order{
    display: none;
} */

@media (max-width: 991px){
    #les-deux-colonnes{
       display: flex;
       flex-direction: column-reverse;
      }
      #div-order{
        display: none;
      }
}
.flex-1 {
    flex: 1 1 0%;
}

.h-48px {
    height: 3rem;
}
.inline-block {
    display: inline-block;
}
.relative {
    position: relative;
}
.opacity-70 {
    opacity: .7;
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-center {
    text-align: center;
}
.py-14px {
    padding-top: 14px;
    padding-bottom: 14px;
}
.px-24px {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.rounded {
    border-radius: .25rem;
}
.cursor-not-allowed {
    cursor: not-allowed;
}
.h-48px {
    height: 3rem;
}
.inline {
    display: inline;
}
.ml-12px {
    margin-left: .75rem;
}
.relative {
    position: relative;
}
.ckt-btn, .payment-btn {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(173, 141, 119, 1);
    color: rgba(255, 255, 255, 1);
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.text-color-\#757575 {
    --tw-text-opacity: 1;
    color: rgba(117,117,117,var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}
.cursor-text {
    cursor: text;
}
.top-3\.5 {
    top: .875rem;
}
.absolute {
    position: absolute;
}
.pointer-events-none {
    pointer-events: none;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.text-color-\#333 {
    --tw-text-opacity: 1;
    color: rgba(51,51,51,var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.pr-12px {
    padding-right: .75rem;
}
.pb-1\.5 {
    padding-bottom: .375rem;
}
.pt-24px {
    padding-top: 1.5rem;
}
.pl-12px {
    padding-left: .75rem;
}
.rounded-md {
    border-radius: .375rem;
    border:1px solid black;
}

@media (min-width: 768px){
   
}


